<h1 class='welcome-text text-center mt-5'>{{welcomeMessage}}</h1>

<main class='container mx-auto px-4 prose lg:prose-lg' id="dashboard">
  <section>
    <h2>Your Items:</h2>  
    <div class='grid grid-flow-row my-8 gap-8 text-neutral-600 sm:grid-cols-1 md:grid-cols-2'>
      {{#if ownedItems.length}}
        {{#each ownedItems}}
          <div
            class='rounded-xl p-6 shadow-lg shadow-gray-200 bg-white duration-300 hover:-translate-y-1 feed-card card'
          >
            {{this.item_name}}
            {{this.item_description}}
            {{#if this.borrowed_by}}
              <p class='dash-card-text' id='borrowedBy-{{this.id}}'>Borrowed by:
                Loading...</p>
            {{/if}}
          </div>
        {{/each}}
      {{else}}
        <p class='post mb-5'>Post an item!</p>
      {{/if}}
    </div>
  </section>

  <section>
    <h2>Your Borrowed Items:</h2>
      {{#if borrowedItems.length}}
      <div class='grid grid-flow-row my-8 gap-8 text-neutral-600 sm:grid-cols-1 md:grid-cols-2'>
        <div
          class='rounded-xl p-6 shadow-lg shadow-gray-200 bg-white duration-300 hover:-translate-y-1 feed-card card'
        >
          {{#each borrowedItems}}
            {{this.item_name}}
            {{this.item_description}}
            <p class='dash-card-text' id='borrowedFrom-{{this.id}}'>Borrowed by:
              Loading...</p>
          {{/each}}
        </div>
      </div>
      {{else}}
        <p class='none mb-5 emptyBox p-5 rounded-xl'>No borrowed items.</p>
      {{/if}}
    
  </section>

</main>

<script src='/js/dashboard.js' data-user-id='{{currentUser.id}}'></script>