<section class=' container dashboard-top'>
  <div class='flex flex-col w-full border-opacity-50'>
    <div class='grid rounded-box place-items-center'>
      <h1 class='welcome-text text-center mt-5'>{{welcomeMessage}}</h1>
    </div>
  </div>
</section>

<main class='container mx-auto px-4 prose lg:prose-lg mb-6' id='dashboard'>
 <section>
  <div class="'your-items">
    <h2>Your Items:</h2>
    <!-- You can open the modal using ID.showModal() method -->
      <i class="fa fa-plus-square" onclick='my_modal_3.showModal()'></i>
      {{!-- <button class='btn' onclick='my_modal_3.showModal()'>Add Item </button> --}}
      <dialog id='my_modal_3' class='modal modal-bottom sm:modal-middle'>
        <form method='dialog' class='modal-box add-item-form'>
          <i class='fa fa-times close-icon' onclick='my_modal_3.close()'></i>
          <form id='add-item-form' class='space-y-4 add-item-form'>
            <div id='add-item-alert'></div>
              <div class='form-control'>
                <label  for='item_name' class='input-group add-item-input'>
                  <input type='text' placeholder='Item Name' class='input input-bordered add-item-nametxt' id='item_name' />
                </label>
                <label for='item_description' class='input-group add-item-input'>
                  <textarea placeholder='Item Description' class='textarea textarea-bordered textarea-md add-item-txtarea' id='item_description' ></textarea>
                </label>
                <label for='item_condition' class='input-group add-item-input'>
                  <textarea placeholder='Item Condition' class='textarea textarea-bordered textarea-md add-item-txtarea' id='item_condition' ></textarea>
                </label>
              </div>
              <div class ='add-item-button-div'>
                <button type='submit' class='btn mt-4 add-item-btn'>Add Item</button>
              </div>
            </form>
        </form>
      </dialog>
  </div>
    {{#if ownedItems.length}}
      <div class='grid grid-flow-row my-8 gap-8 text-neutral-600 sm:grid-cols-1 md:grid-cols-2'>
        {{#each ownedItems}}
          <div class='rounded-xl p-6 shadow-lg shadow-gray-200 bg-white duration-300 hover:-translate-y-1 feed-card' id='item-{{this.id}}'>
            <h3 class='mt-0'>{{this.item_name}}</h3>
            <p>{{this.item_description}}</p>
            {{#if this.requests.length}}
            <div class='request-container mt-5 border-top'>
              {{#each this.requests}}
                {{#ifEqual request_status 'pending'}}
                  <span class='rounded-lg borrow-alert-tag'>
                    {{this.user.firstName}} sent you a borrow request for this item.
                    <button class='approve-button btn btn-outline btn-xs display-inline' data-item-id='{{item_id}}' data-request-id='{{id}}' data-user-id='{{this.user_id}}'>
                      Approve
                    </button>
                    <button class='deny-button btn btn-outline btn-xs display-inline' data-item-id='{{item_id}}' data-request-id='{{id}}' data-user-id='{{this.user_id}}'>
                      Deny
                    </button>
                  </span>
                {{else}}
                  <p class='borrowed-by dash-card-text pt-5'>Borrowed by {{this.user.firstName}}</p>
                {{/ifEqual}}
              {{/each}}
            </div>
            {{else}}
              <p class='dash-card-text border-top border-top pt-5'>No requests for this item.</p>
            {{/if}}
            <i class='delete-button fa fa-trash'></i>
          </div>
        {{/each}}
      </div>
    {{else}}
       <p class='none mb-5 emptyBox p-5 rounded-xl'>You have no items, post one!</p>
    {{/if}}
  </section>

 <section>
    <h2>Items You Borrowed:</h2>
    {{#if borrowedItems.length}}
      <div class='grid grid-flow-row my-8 gap-8 text-neutral-600 sm:grid-cols-1 md:grid-cols-2'>
        {{#each borrowedItems}}
        <div class='rounded-xl p-6 shadow-lg shadow-gray-200 bg-white duration-300 hover:-translate-y-1 feed-card card'>
          <h3 class='mt-0'>{{this.item_name}}</h3>
          <p>{{this.item_description}}</p>
          <p class='dash-card-text borrowed-from border-top'>
            Borrowed from {{this.owner.firstName}}
          </p>
          <button class='return-button btn btn-outline btn-xs display-inline' data-item-id={{this.id}}>
          Initiate Return
        </button>
        </div>
        {{/each}}
      </div>
    {{else}}
      <p class='none emptyBox p-5 rounded-xl'>No borrowed items.</p>
    {{/if}}
  </section>

</main>

<script src='/js/dashboard.js' data-user-id='{{currentUser.id}}'></script>