<h1 class='welcome-text text-center mt-5'>{{welcomeMessage}}</h1>

<section class='main' id="dashboard-container">
  {{#if ownedItems.length}}
    <h2>My Items:</h2>
    {{#each ownedItems}}
          {{this.item_name}}
          {{this.item_description}}
          {{#if this.borrowed_by}}
            <p class="dash-card-text" id="borrowedBy-{{this.id}}">Borrowed by: Loading...</p>
          {{/if}}
    {{/each}}
  {{else}}
    <p class="post mb-5">Post an item!</p>
  {{/if}}


  {{#if borrowedItems.length}}
    <h2>My Borrowed Items:</h2>
    {{#each borrowedItems}}
          {{this.item_name}}
          {{this.item_description}}
          <p class="dash-card-text" id="borrowedFrom-{{this.id}}">Borrowed by: Loading...</p>
    {{/each}}
  {{else}}
    <p class="none mb-5">No borrowed items.</p>
  {{/if}}
</section>

<script src='/js/dashboard.js' data-user-id="{{ currentUser.id }}"></script>
