<main class='container mx-auto px-4'>
    <div
        class='grid grid-flow-row my-8 gap-8 text-neutral-600 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3'
    >
        {{#each items}}
        <div
            class='rounded-xl p-6 shadow-lg shadow-gray-200 bg-white duration-300 hover:-translate-y-1 card'
        >
            <a class="trigger-modal" onclick='my_modal_{{this.id}}.showModal()'>
                <span
                    class="status-dot {{#if this.is_available}}available{{else}}not-available{{/if}}
                "></span>
                <span class="stars">{{#if this.averageRating}}{{renderStars this.averageRating}}{{else}}No rated{{/if}}</span>
                <h2 class='card-title mb-3'>{{this.item_name}}</h2>
                <p class='mb-3'>{{{trimString this.item_description}}} ...</p>
                <p class='mb-3'><strong>Condition</strong>:
                {{this.item_condition}}</p>
                <p class='mb-3'><strong>Available</strong>:
                {{#if this.is_available}}Yes{{else}}No{{/if}}</p>
                <p><strong>Posted by</strong>: {{this.user.firstName}}</p>
            </a>
        </div>

        <!-- Modal -->
        <dialog
            class='modal modal-bottom sm:modal-middle'
            id='my_modal_{{this.id}}'
            tabindex='-1'
            aria-labelledby='itemModal{{this.id}}Label'
            aria-hidden='true'
        >
            <form method="dialog" class="modal-box">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>            
                <h4
                    class='modal-title'
                    id='itemModal{{this.id}}Label'
                >{{this.item_name}}</h4>
                <button
                    type='button'
                    class='btn-close'
                    data-bs-dismiss='modal'
                    aria-label='Close'
                ></button>
                <p class="mb-3">{{this.item_description}}</p>
                <p class="mb-3"><strong>Condition</strong>: {{this.item_condition}}</p>
                <p class="mb-3"><strong>Available</strong>:
                    {{#if this.is_available}}Yes{{else}}No{{/if}}</p>
                <p class="mb-3"><strong>Posted by</strong>: {{this.user.firstName}}</p>
                
                {{#if reviews}}
                    <h2><strong>Reviews</strong></h2>
                    {{#each reviews}}
                        <p>
                            <blockquote>"{{this.review_text}}"</blockquote>
                        </p>
                    {{/each}}
                {{/if}}
                <div class='modal-action'>
                    {{#isCurrentUserItem this.user_id ../userId this.is_available}}
                        <button type='button' class='btn btn-primary borrow-button' data-user-id="{{../userId}}" data-item-id="{{this.id}}">Borrow</button>
                    {{else if this.is_available}}
                        <button type='button' class='btn btn-primary borrow-button' disabled>You own it</button>
                    {{else}}
                        <button type='button' class='btn btn-primary borrow-button' disabled>Borrowed</button>
                    {{/isCurrentUserItem}}
                </div>
            </form>
        </dialog>
        {{/each}}
    </div>

</main>
<script src='/js/request.js'></script>